body { 
    background-size: 10px 10px;
    background-image: linear-gradient(to right, #e6faff 1px, transparent 1px), 
    linear-gradient(to bottom, #EAF9FE 1px, transparent 1px);
}

* {
  box-sizing: border-box;
}

.title {
	font-family: 'Scope One', serif;
}

#Peanut {
	height: 350px;
	width: 100%;
}

#NYC {
	height: 350px;
	width: 100%;
}

#Beach {
	height: 350px;
	width: 100%;
}

#Headshot {
	height: 150px;
	width: 150px;
	border-radius: 50%;
}

.social-links {
	list-style: none;

}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.pics-in-a-row {
	display: flex;
	background-color: black;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.myname {
	text-align: center;
	font-size: 60px;
	margin-top: -80px;
	margin-bottom: -80px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.wrapper-container {
	text-align: center;
}

.wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.profile, .description {
  margin: 5px;
  max-width: 30%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Scope One', serif;
  font-size: 21px;
}

.profile {
  align-items: center;
  justify-content: center;
}

.quote {
	text-align: right;
	font-size: 8px;

}
